{
  "presets": [
    ["@babel/env", { "modules": false }]
  ],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    ["module-resolver", { "root": ["./src"] }]
  ],
  "env": {
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
