{
  "extends": "react-app",
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "valid-jsdoc": 2,
    "no-var": 0,
    "no-class-assign": 0,
    "comma-dangle": ["error", "always-multiline"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxBOF": 0, "maxEOF": 0 }],
    "no-trailing-spaces": 2
  },
}
